@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: #2b2bff;
}

h1 {
  text-align: center;
  padding-top: 3rem;
}

.coins {
  display: block;
  width: 75%;
  max-width: 60rem;
  margin: auto;
}

.coinInfo {
  color: black;
  width: 7rem;
}

.cryptoCurrency {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  background-color: white;
  border-radius: 50px;
  padding: 2%;
  margin-top: 2rem;
  text-align: center;
}
