@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: #2b2bff;
}

h1 {
  text-align: center;
  padding-top: 3rem;
}

.coins {
  display: block;
  width: 75%;
  max-width: 60rem;
  margin: auto;
}

.coinInfo {
  color: black;
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coinInfoHeader {
  color: white;
  font-size: 1.15rem;
  width: 7rem;
  text-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coinsHeader {
  display: flex;
  justify-content: space-between;
  width: 96%;
  color: white;
  border-radius: 50px;
  padding: 2%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cryptoCurrency {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  padding: 2%;
  margin-bottom: 2rem;
  text-align: center;
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchBar input{
  padding: 1rem;
  text-align: center;
  border: none;
  border-radius: 50px;
  width: 10rem;
  margin-top: 2rem;
}